---
pageable: true
per_page: 10
description: Blog of Parth Kolekar 
title: Blog of Parth Kolekar
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50512770-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50512770-4');
</script>
  <meta charset="utf-8">
  <meta itemprop="description" content="<%= tagname + " - " + current_page.data.description %>">
  <meta itemprop="image" content="https://www.gravatar.com/avatar/74f1a4338f4d66b21795931ef946797c.jpg?s=200">
  <meta itemprop="name" content="<%= tagname + " - " + current_page.data.title %>">
  <meta name="author" content="Parth Laxmikant Kolekar" />
  <meta name="description" content="<%= tagname + " - " + current_page.data.description %>">
  <meta name="fb:admins" content="535949453">
  <meta name="og:description" content="<%= tagname + " - " + current_page.data.description %>">
  <meta name="og:locale" content="en_US">
  <meta name="og:site_name" content="<%= tagname + " - " + current_page.data.title %>">
  <meta name="og:title" content="<%= tagname + " - " + current_page.data.title %>">
  <meta name="og:type" content="website">
  <meta name="og:url" content="<%= data.site.baseurl + current_page.url %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@parthkolekar">
  <meta name="twitter:description" content="<%= tagname + " - " + current_page.data.description %>">
  <meta name="twitter:image:src" content="https://www.gravatar.com/avatar/74f1a4338f4d66b21795931ef946797c.jpg?s=200">
  <meta name="twitter:site" content="@parthkolekar">
  <meta name="twitter:title" content="<%= tagname + " - " + current_page.data.title %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta property="og:image" content="https://www.gravatar.com/avatar/74f1a4338f4d66b21795931ef946797c.jpg?s=200" />
  <meta property="og:site_name" content="<%= tagname + " - " + current_page.data.title %>" />
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <title><%= tagname + " - " + current_page.data.title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/blog/stylesheets/highlights.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="/blog/stylesheets/layout-breaker-hacks.css" />
  <script src="https://use.fontawesome.com/24ce601765.js"></script>
</head>
<body>
  <div id="page-wrapper" class="page-wrapper">
<%= partial(:navbars) %>
    <div id="content" class="page animated">
      <div id="main-content" class="text page animated content">
        <div class="scroll-parent" id="container">
          <div class="scroll-child">
            <div class="scroll-child-child content-rotating">
              <h1 class="color-white" style="font-size: 3em"> <%= tagname + " - " + current_page.data.title %> </h1>
              <em class="color-lightgrey" style="font-size: 2em">
              </em>
            </div>
<% page_articles.each_with_index do |article, i| %>
            <hr style="width: 80%;" class="color-neon" />
<%= partial(:articlemini, :locals => { :article => article }) %>
<% end %>
<%= partial(:pagination, :locals => { 
  :paginate => paginate, 
  :prev_page => prev_page, 
  :num_pages => num_pages,
  :next_page => next_page,
  :prefix => "/blog/tags/#{tagname}"
}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/js/perfect-scrollbar.min.js"></script>
  <script type="text/javascript">
    var container = document.getElementById('container');
    Ps.initialize(container);
  </script>
</body>
</html>
