<%
  page_title = current_page.data.title || data.profile.title
  page_description = current_page.data.description || (current_page.respond_to?(:summary) && respond_to?(:strip_tags) ? strip_tags(current_page.summary) : nil) || data.profile.description
  page_url = data.site.baseurl + current_page.url
%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50512770-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50512770-4');
</script>
<meta charset="utf-8">
<link rel="canonical" href="<%= page_url %>">
<meta itemprop="description" content="<%= page_description %>" />
<meta itemprop="image" content="<%= data.profile.image %>" />
<meta itemprop="name" content="<%= page_title %>" />
<meta name="author" content="<%= data.profile.author %>" />
<meta name="description" content="<%= page_description %>" />
<meta property="fb:admins" content="<%= data.profile.fb_admins %>" />
<meta property="og:description" content="<%= page_description %>" />
<meta property="og:locale" content="en_UK" />
<meta property="og:site_name" content="<%= data.profile.title %>" />
<meta property="og:title" content="<%= page_title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= page_url %>" />
<meta property="og:image" content="<%= data.profile.image %>" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="<%= data.profile.twitter_creator %>" />
<meta name="twitter:description" content="<%= page_description %>" />
<meta name="twitter:image" content="<%= data.profile.image %>" />
<meta name="twitter:site" content="<%= data.profile.twitter_creator %>" />
<meta name="twitter:title" content="<%= page_title %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
<title><%= page_title %></title>
