---
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Person">
<head>
<%= partial(:meta) %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <script src="https://use.fontawesome.com/24ce601765.js"></script>
</head>
<body>
  <div id="page-wrapper" class="page-wrapper">
    <div id="navbars" class="animated navbars navbars-rotating">
      <div id="home-button" data-page='home-content' class="navbar animated"> Home </div>
      <div id="contact-button" data-page='contact-content' class="navbar animated"> Contact </div>
      <a href='/blog/'><div id="blog-button" data-page='blog-content' class="navbar animated"> Blog </div></a>
      <a href="/resume"><div id="resume-button" data-page='resume-content' class="navbar animated"> R&eacute;sum&eacute; </div></a>
    </div>
    <div id="content" class="page animated">
      <div id="home-content" class="text animated content">
        <div class="scroll-parent" id="container">
          <div class="scroll-child">
<%= partial(:bio) %>
            <hr style="width: 80%;" class="color-neon" />
<%= partial(:skills) %>
            <hr style="width: 80%;" class="color-neon" />
<%= partial(:environment) %>
          </div>
        </div>
      </div>
      <div id="contact-content" class="text animated hidden content">
        <div class="scroll-parent">
          <div class="scroll-child">
<%= partial(:contact) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/js/perfect-scrollbar.min.js"></script>
  <script type="text/javascript">
    var container = document.getElementById('container');
    Ps.initialize(container);
  </script>
  <script src='https://js.sentry-cdn.com/86cd5456d19942879f06530866c31798.min.js' crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
